In [16]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn import preprocessing
from sklearn.tree import export_graphviz
import pydot

In [23]:
def calculate_entropy(p):
    sum = np.array([-i*np.log2(i) for i in p]).sum()
    return sum
    
p = [.5, .5]
calculate_entropy(p)

1.0

In [24]:
p = [5/14, 9/14]
calculate_entropy(p)

0.9402859586706311

In [30]:
p = [.005, .995]
calculate_entropy(p)

0.0454146923337941

In [13]:
data = pd.read_csv('tennis.txt', delimiter="\t", header=None, names=['a', 'b', 'c', 'd', 'e'])
data.head()

          a     b       c       d    e
1     Sunny   Hot    High    Weak   No
2     Sunny   Hot    High  Strong   No
3  Overcast   Hot    High    Weak  Yes
4      Rain  Mild    High    Weak  Yes
5      Rain  Cool  Normal    Weak  Yes

In [20]:
data_encoded = data.apply(preprocessing.LabelEncoder().fit_transform)
data_encoded.head()

   a  b  c  d  e
1  2  1  0  1  0
2  2  1  0  0  0
3  0  1  0  1  1
4  1  2  0  1  1
5  1  0  1  1  1

In [31]:
clf = DecisionTreeClassifier(criterion='entropy', max_depth=3)

In [34]:
clf.fit(data_encoded[['a', 'b', 'c', 'd']], data_encoded['e'])


dot_data = export_graphviz(clf, out_file=None, feature_names=['Outlook', 'Temp.', 'Humidity', 'Wind'])

# Draw graph
graph = pydotplus.graph_from_dot_data(dot_data)
graph.write_png('tennis_tree.png')

AttributeError: 'list' object has no attribute 'write_png'